.top-buffer {
	height: 90px;
}

#left-side-bar {
	display: none;
	float: left;
	padding-left: 15px;
	padding-right: 15px;
	background-color: #808080;
	box-shadow: inset -2px 0 2px #363636;
}

#toggle-container {
	background-color: #808080;
	color: white;
	border-top-right-radius: 15%;
	border-bottom-right-radius: 15%;
	position: fixed;
	top: 200px;
	left: -3px;
	width: 60px;
	text-align: right;
	font-size: 20pt;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 15px;
	box-shadow: 2px 2px 3px #363636, 2px -2px 3px #363636;
	/*box-shadow: inset -2px -1px 2px #363636, inset -2px 1px 2px #363636;*/
}

#toggle-container a {
	color: white;
}

#main-container {
	display: inline-block;
	float: left;
	overflow-x: hidden;
	margin-left: 50px;
	text-align: center;
}

h1 span {
	font-size: 12pt;
}

span.accordion-open {
	display:none;
}

a:hover, a:focus {
	text-decoration: none;
}

.cursor-link {
	cursor:pointer !important;
}

#accordion {
}

.panel-heading {
	box-shadow: 1px 1px 2px #363636, -1px -1px 2px #363636, -1px 1px 2px #363636, 1px -1px 2px #363636;
}

.panel-collapse {
	box-shadow: 1px 1px 2px #363636, -1px 1px 2px #363636;
}

.panel-heading h4 {
	margin: 0;
}

#toolbox h3 {
	font-size: 28px;
	margin-bottom: 10px;
	margin-top: 30px;
}

#custom-days {
	margin-left: 20px;
}

.day-checkbox {
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
}

#custom-block-form-container .form-control {
	width: 30%;
	display: inline-block;
	text-align: center;
}

#custom-duration {
	margin-left: 20px;
}

#minutes-label {
	position: relative;
	left: 25px;
	line-height: 30px;
	font-size: 12pt;
}

#scratch-pad {
	display: inline-block;
	background-color: #B3B3B3;
	border-radius: 10px;
	border: 2px dashed #363636;
	text-align: center;
	color: #5E5E5E;
	font-size: 25px;
	height: 100px;
	padding: 50px;
	/* margin: 0; */
	margin-left: 50px;
	width: 80%;
}

#outer-container {
	display: table;
}

#inner-container {
	display: table-row;
}

#time-and-days {
	display: table-row;
}

#empty-cell {
	width: 70px;
}

#time-labels {
	display: table-cell;
	text-align: right;
	padding-right: 10px;
	/* height: 600px; */
}

#time-labels p {
	height: 8.1%;
	margin-top: -7px;
	margin-bottom: 8px;
}

#sched-container {
	/*border: 1px solid black;*/
	border-top: 4px solid black;
	height: 600px;
	max-height: 600px;
	min-width: 1400px;
	min-height: 500px;
	background-color: black;
	margin-left: auto;
	margin-right: auto;
	padding-left: 4px;
	padding-right: 4px;
	overflow-x: auto;
	/*white-space: nowrap;*/
}

#sched-col-headers {
	display: table-row;
	padding-left: 50px;
	overflow-x: auto;
}

.sched-col-header {
	display: table-cell;
	width: 275px;
	margin: 0;
	text-align: center;
}

.sched-day-column {
	position: relative;
	display: table-cell;/*inline-block;*/
	width: 273px;
	margin: 0;
	padding-right: 1.5px;
	background-color: white;
	height: 100%;
	border: 1px solid black;
}

.test-grid {
	position: relative;
	left: 40px;
	background-color: red;
	height: 50px;
	width: 40px;
	color: white;
	font-size: 6pt;
}

.scheduled-class {
	position: absolute;
	border: 1px solid black;
	background-color: #0099FF;
	color: white;
	font-size: 9pt;
	text-align: center;
	word-wrap: break-word;
	text-shadow: 0.5px 0.5px 1px black;
}

.time-block-active {
	position: absolute;
	background: rgba(0,0,0,0.2);
	border: 1px solid white;
}

.time-block-hover {
	position: absolute;
	background: rgba(0,110,0,0.2);
	border: 1px solid white;
}

.toolbox-blocks td {
	vertical-align: top;
	width: 60px;
}

#drag-helper {
	z-index: 999;
	color: green;/*#0099FF;*/
	font-size: 20pt;
	text-shadow: 0px 0.5px 1px black;
	opacity: 2;
}

#toolbox {
	width: 320px;
}

#toolbox .fifty-min-blk {
	background-color: orange;
	height: 50px;
	width: 40px;
	word-wrap: break-word;
}

#toolbox .eighty-min-blk {
	background-color: orange;
	height: 80px;
	width: 40px;
	word-wrap: break-word;
}

.sched-day-column .fifty-min-blk {
	height: 50px;
	width: 40px;
	word-wrap: break-word;
}

.sched-day-column .eighty-min-blk {
	height: 80px;
	width: 40px;
	word-wrap: break-word;
}

.5-min-row {
	color: white;
	font-size: 10pt;
	padding: 0;
	margin: 0;
}

.day-slot {
	display: inline-block;
	padding: 0;
	margin: 0;
}

.popover {
	min-width: 250px;
}


::-webkit-scrollbar{width:6px;height:6px;}::-webkit-scrollbar-track{background-color:#e5e5e5}::-webkit-scrollbar-thumb{background-color:#cdcdcd}::-webkit-scrollbar-thumb:hover{background-color:#030303}
/*
#mon-col {
	width: 340px;
}

#tue-col {
	background-color: blue;
}
#wed-col {
	width: 470px;
}
#thu-col {
	background-color: blue;
}

#fri-col {
	background-color: green;
}*/

#bottom-container {
	display: inline-block;
  	width: 100%;
  	white-space: nowrap;
  	height: 150px;
}

#drop-trash {
	display: inline-block;
	font-size: 60pt;
  	/* text-align: right; */
  	/* margin-left: 100px; */
  	margin-top: 5px;
  	padding-left: 80px;
  	margin-top: 15px;
  	padding-top: 10px;
}

.trash-hover{
	-ms-transform: scale(1.5,1.5); /* IE 9 */
    -webkit-transform: scale(1.5,1.5); /* Chrome, Safari, Opera */
    transform: scale(1.5,1.5); /* Standard syntax */
    z-index: 0;
    /*opacity: 0.5;*/
}




/*****  CUSTOM TIME-BLOCK SPINNER STYLES *****/
.spinner {
  width: 200px;
}
.spinner input {
  text-align: right;
}
.input-group-btn-vertical {
  position: relative;
  float: left;
  white-space: nowrap;
  width: 1%;
  vertical-align: middle;
  display: table-cell;
}
.input-group-btn-vertical > .btn {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
  padding: 8px;
  margin-left: -1px;
  position: relative;
  border-radius: 0;
  z-index: 999;
}
.input-group-btn-vertical > .btn:first-child {
  border-top-right-radius: 4px;
}
.input-group-btn-vertical > .btn:last-child {
  margin-top: -2px;
  border-bottom-right-radius: 4px;
}
.input-group-btn-vertical i{
  position: absolute;
  top: 0;
  left: 4px;
}